 .card-title {
            margin-bottom: 6px;
            max-width: 100%;
            box-sizing: border-box;
            overflow: hidden;
            font-weight: 700;
            font-size: 14px;
            line-height: 1.3;
            word-wrap: break-word;
            word-break: break-word;
            text-overflow: ellipsis;
        }

        a {
            color: #222;
            text-decoration: none;
        }

        a:hover {
            color: blue;
            text-decoration: none;
        }

        .card-columns {
            padding: 20px;
            margin: 10px
        }

        .card {
            width: 15rem;
            border: 2px gray solid;

        }

